<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mon application ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @*

        une vue layout permet au vue enfant d'inserer le contenu dans le body grace a la mathode render
        RenderbODY
        Une page layout ne peut contenir qu'un seul emplacment renderbody
        Solution apportee par .NET pour que les enfants puissent inserer du contenu dans ue layout
        c'est lutilisation des sections

        Une section est une zone de la page qui vas etre definis ou redefinis au niveau de la vue qui appelle le layout

        Une vue partiel remplace les sections: permettent de factoriser du code HTML et c# dans un ficher reutilisable
        Elle sont definies dans le dossier Shared

    *@
    @Html.Partial("_NavBar");
    <div class="container body-content">
        @RenderSection("sousMenu", required: false)
        @RenderBody()
        @RenderSection("maSection", required: false)

        <hr />
        @if (IsSectionDefined("footer"))
        {
            @RenderSection("footer", required: false)
        }
        else
        {
            @Html.Partial("_footer");
        }
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
